<!DOCTYPE html>
<html>
<head>
  <title>Brochure</title>
  <%= stylesheet_link_tag    "brochure/application", media: "all" %>
  <%= javascript_include_tag "brochure/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
